
 /* อ้างอิง https://www.codingnepalweb.com/responsive-footer-section-html-css/
 มีดัดแปลงบ้างนิดหน่อยเพื่อความสวยงามครับ */

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #ffffff;
}
footer{
    color: rgba(138, 138, 138, 0.856);
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #ffffff;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: rgba(138, 138, 138, 0.856);
}
.left .content .social a span:hover{
  background: #ffffff;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #ffffff;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid rgba(138, 138, 138, 0.856);
  color: rgba(138, 138, 138, 0.856);
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #ffffff;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
  margin-left: 22%;
}
.right form .btn button{
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  background: rgba(138, 138, 138, 0.856);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: rgb(255, 255, 255);
}
.bottom .cn{

  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom .cn span{
  color: #656565;
}
.bottom .cn a{
  color: #ffffff;
  text-decoration: none;
}
.bottom .cn a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}